$color-primary: #5d91a841;
$color-primary-light: #89d3f541;
$color-primary-dark: #074177b0;
$color-white: #fff;
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-shadow-btn-hover: #5252526e;
$color-shadow-btn-active: #444444a2;
$color-shadow-btn-white: #4444446e;
$color-btn--white-after: rgba(140, 203, 255, 0.2);
$color-btn--white: #1c2e44;
// card
$color-secondary--yellow: #ffbb00;
$color-secondary--orange: #ff7830;

$color-secondary--green: #9cff4a;
$color-secondary--dark-green: #0b9133;

$color-secondary--blue: #2998ff;
$color-secondary--dark-blue: #5643fa;

// gird
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal: 4rem;
