*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%; //10px
}
html:active {
  outline: none !important;
} 


//   @include respond(big-desktop) {
//     font-size: 75%; // 12/16
//   }

//   @include respond(tab-land) {
//     font-size: 56.25%; // 1rem = 9px => 9/16 = 56.25%
//   }

//   @include respond(tab-port) {
//     font-size: 50%; //8 rem
//   }

//   @include respond(phone) {
//     font-size: 50%; //
//   }
// }
// //
// body {
//   box-sizing: border-box;
//   padding: 1rem;
//   @include respond(tab-port) {
//     padding: 0;
//   }